
.card {
    border: 1px solid #f8f8f8;
    padding: 30px;
    width: 220px;
    border-radius: 40px;
    margin-right: 30px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
    &:hover {
      box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
      transform: translateY (-5px);
    }
    .favorite {
      position: absolute;
      cursor: pointer;
    }
    .block {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    h5 {
      font-weight: 400;
      font-size: 13px;
    }
    span {
      font-size: 15px;
      opacity: 0.5;
      text-transform: uppercase;
      padding-top: 6px;
    }
    b {
      font-size: 14px;
      padding-top: 7px;
    }  
  }