
body {
  margin: 0;
  //  margin-top: -50px;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

* {
  font-family: 'Inter', sans-serif;  
}

.wrapper {
  background: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  max-width: 1080px;
  margin: 0px auto;
}

header {
  border-bottom: 1px solid #eaeaea;
  img {
    margin-right: 15px;
  }
  h3.title {
    margin-bottom: -10px;
  }
}

.content {
  h1 {
    margin: 0;
  }
}


.card-button {
  // background: rgb(141, 132, 132);
  border: 0.5px solid #bcb6b6;
  box-sizing: border-box;
  border-radius: 8px;
  height: 33px;
  width: 33px;
  cursor: pointer;
}

.cartEmpty {
  text-align: center;
  p {
    width: 280px;
    line-height: 24px;
  }
  .greenButton {
    width: 245px;
    margin-top: 20px;

    
    
    img {
      position: relative;
      top: 1px;
      margin-right: 15px;
    
    }
  }
}

.greenButton {
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.1s ease-in-out;

  &:hover {
    background: lighten(#9dd558, 5%);
  }
  &:active {
    background: darken(#9dd558, 5%);
  }
} 
 
.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;

  .clear {
    position: absolute;
    right: 0;
    top: 0px;
  }

  
  input {
      border: 0;
      padding-left: 10px; 
      font-size: 16px;
      width: 200px;
  }
}

.items {
  flex: 1;
}

.cart-item {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;

  .cart-item__img {
    width: 70px;
    height: 70px;
    background-size: contain;
    background-position: 0 -3px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  p {
    font-size: 15px;
    margin: 0;
  }

  b {
    font-size: 16px;
  }

  .btn-remove {
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }

}

.card-total__block {
  ul {
    margin-bottom: 40px !important;
  li {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    div {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
      position: relative;
      top: -4px;
      margin: 0 7px;
    }
  }
 }
 .violent-button {
  position: relative;

  &:disabled {
    animation: button-loading 0.6s ease-in-out infinite;
  }

  &__img {
    position: absolute;
    right: 40px;
    top: 22px;
    transition: transform 0.1s ease-in-out;
  }
  &:disabled {
    background: #bebebe !important;  
    cursor: default;
  }
  &:hover {
    img {
      transform: translateX(5px)
    }
  }
 }
}

.violent-button {
    width: 100%;
    height: 55px;
    background: #733fb2;
    border-radius: 18px;
    border: 0;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    &:hover {
      background-color: lighten( #733fb2, 5%);
    }
    &:active {
      background-color: darken( #733fb2, 5%);
    }
  }

@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}